<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/headerAuth.css}">
    <link rel="stylesheet" th:href="@{/css/contactUs.css}">
</head>
<body>
<header th:replace="~{authorization/headerAuth :: header}"></header>

<div class="contact-container">
    <section class="contact-info">
        <h2>Contact Us</h2>
        <p>If you have any questions, suggestions, or other information we should know, contact us through the form below.</p>
        <p>Average response time: <strong>0 - 48 hours</strong></p>
    </section>

    <section class="contact-form-container" th:if="${!message_sent}" th:object="${contact_us_dto}">
        <form action="/contact-us" method="post" enctype="multipart/form-data" class="contact-form">
            <label for="fullname">Full name*:</label>
            <input type="text" id="fullname" name="fullname" th:field="*{fullname}" required>

            <label for="email">Email*:</label>
            <input type="email" id="email" name="email" th:field="*{email}" required>

            <label for="textTitle">Title*:</label>
            <input type="text" id="textTitle" name="textTitle" th:field="*{textTitle}" required>

            <label for="textBody">Your message*:</label>
            <textarea id="textBody" name="textBody" th:field="*{textBody}" required></textarea>

            <div class="file-input-container">
                <input type="file" id="attachedFile" name="attachedFile">
                <label for="attachedFile">Choose file (optional) up to 5 MB</label>
                <span id="fileName" class="file-name">No file chosen</span>
            </div>

            <div class="error-messages">
                <div th:if="${fields_error}" class="error">Please, check your fields.</div>
                <div th:if="${message_sending_error}" class="error">Message sending has failed.</div>
            </div>

            <button type="submit" class="submit-button">Send message</button>
        </form>
    </section>

    <section class="message-sent" th:if="${message_sent}">
        <p><strong>Your message has been sent, thank you!</strong></p>
    </section>
</div>

<script src="/js/contactUsFileName.js"></script>
<script src="/js/bigFileContactUsAlert.js"></script>
</body>
</html>

