<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{/css/headerAuth.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/user_profile.css}">
</head>
<body>
<header th:replace="~{authorization/headerAuth :: header}"></header>

<div class="profile-container" th:object="${session.auth_user}">
    <!-- User Info Section -->
    <div class="user-info">
        <div th:if="*{avatarPath != null && !avatarPath.trim().isEmpty()}">
            <img th:src="@{*{avatarPath}}" alt="Default Avatar" class="avatar"/>
        </div>
        <div th:if="*{avatarPath == null || avatarPath.trim().isEmpty()}">
            <img th:src="@{|/images/default_avatar.png|}" alt="Default Avatar" class="avatar"/>
        </div>
        <div>
            <p><strong>The whole process of registration is still in development... That's why avatar is not shown at the moment.</strong></strong></p>
        </div>
        <div class="user-details">
            <p>Email: <span th:text="*{email}"></span></p>
            <p>Full Name: <span th:text="*{fullname}"></span></p>
        </div>
    </div>

    <!-- Movies Section -->
    <div class="movies-section">
        <div th:if="${show_my_docs == false}">
            <form action="/profile/my-docs" th:value="${show_my_docs}" method="post">
                <input type="hidden" th:value="${show_my_docs}" name="show_my_docs">
                <button type="submit">Show Movies</button>
            </form>
        </div>

        <div th:if="${show_my_docs == true}">
            <h3>Your Movies:</h3>
            <div th:if="${!session.auth_user.movies.isEmpty()}">
                <ul>
                    <li th:each="movie : ${session.auth_user.movies}">
                        <a th:href="@{/movies/{id}(id=${movie.movieId})}" th:text="${movie.title}"></a>
                    </li>
                </ul>
                <p>If you want to delete a movie, click on it and use the <strong>"Delete Movie"</strong> button.</p>
            </div>
            <div th:if="${session.auth_user.movies.isEmpty()}">
                You don't have any movies. Go to <a th:href="@{/}">start page</a> to add some.
            </div>
            <br>
            <form action="/profile/my-docs" method="post">
                <input type="hidden" th:value="${show_my_docs}" name="show_my_docs">
                <button type="submit">Hide Movies</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>

