<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${found_movie.title}">Movie</title>
    <link rel="stylesheet" th:href="@{/css/headerAuth.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/movie.css}">
</head>
<body>
<header th:replace="~{/authorization/headerAuth :: header}"></header>

<div class="movie-details" th:object="${found_movie}">
    <div class="movie-image">
        <img th:src="@{'https://image.tmdb.org/t/p/w500' + *{linkToImage}}" alt="Movie Photo" />
    </div>
    <div class="movie-info">
        <h1 th:text="*{title}">Movie Title</h1>
        <p><strong>Avg. Vote:</strong> <span th:text="*{voteAverage}">8.5</span></p>
        <p><strong>Release Date:</strong> <span th:text="*{releaseDate}">YYYY-MM-DD</span></p>
        <p><strong>Overview:</strong> <span th:text="*{overview}">Lorem ipsum dolor sit amet...</span></p>
    </div>
</div>

<div class="actions">
    <form action="/profile/delete" method="post">
        <input type="hidden" th:value="${session.auth_user.id}" name="userId">
        <input type="hidden" th:value="${found_movie.movieId}" name="movieId">
        <button type="submit">Delete from profile</button>
    </form>
</div>

</body>
</html>
