<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/headerAuth.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>
<header th:replace="~{authorization/headerAuth :: header}"></header>
<div class="main-content">
    <div class="register-container">
        <h3>Register</h3>
        <p>Enter your details to create an account:</p>
        <form action="/register" enctype="multipart/form-data" method="post" th:object="${registeringUser}">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" th:field="*{username}" required>
            </div>
            <div class="input-group">
                <label for="fullname">Full Name</label>
                <input type="text" id="fullname" name="fullname" th:field="*{fullname}" required>
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" th:field="*{email}" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" th:field="*{password}" required>
            </div>
            <div class="input-group">
                <label for="repeatedPassword">Repeat Password</label>
                <input type="password" id="repeatedPassword" name="repeatedPassword" th:field="*{repeatedPassword}" required>
            </div>
            <div class="input-group">
                <label for="birthdate">Date of Birth</label>
                <input type="date" id="birthdate" name="birthdate" th:field="*{birthdate}" required>
            </div>
            <div class="input-group">
                <label for="avatar">Avatar (optional)</label>
                <div class="file-input-container">
                    <input type="file" id="avatar" name="avatar" class="file-input" th:field="*{avatar}">
                    <label for="avatar" class="custom-file-label">Choose File</label>
                </div>
            </div>
            <div class="input-group">
                <label for="citizenship">Citizenship</label>
                <select id="citizenship" name="citizenship" th:field="*{citizenship}" required>
                    <option th:each="citizenship : ${citizenships}"
                            th:value="${citizenship}"
                            th:text="${citizenship.getDislpayName()}">
                    </option>
                </select>
            </div>
            <div th:if="${errorsFound}" class="error-message">Please, check your fields</div>
            <div th:if="${userExistsError}" class="error-message">User already exists</div>
            <button type="submit">Register</button>
        </form>
    </div>
</div>
</body>
</html>

